
$color-primary: #e63946;
$color-primary--dark: rgb(137, 38, 46);
$color-primary--grad: linear-gradient(to bottom right, #{$color-primary}, #{$color-primary--dark});

$color-secondary: #f1faee;

$color-accent: #457b9d;
$color-accent--dark: #1d3557;
$color-accent--light: #a8dadc;


$color-white: #fff;
$color-grey: #999;
$color-grey--light: rgb(228, 228, 228);


$font-grey: rgb(50, 50, 50);

$box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);