/* clean CSS reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  padding: 0 1rem;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.jcsp {
  justify-content: space-between;
}

.text-large {
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.text-regular {
  font-size: 1.8rem;
  font-weight: 500;
}

.text-regular-bold {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.text-regular-italic {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
}

.text-small {
  font-size: 1.5rem;
  font-weight: 400;
}

.btn {
  border-radius: 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}
.btn:active {
  transform: translateY(2px);
}

.btn-blue {
  background-color: #457b9d !important;
}

.btn-red {
  background-color: #e63946 !important;
}

.input-quantity {
  width: 4rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header {
  height: auto;
  width: 100%;
  z-index: 99;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
.header__main {
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
  padding: 0rem 5rem;
  z-index: 10;
  background-color: #457b9d;
}
.header__main--title {
  font-size: 3rem;
  color: transparent;
  background-image: linear-gradient(to right, #a8dadc, #fff);
  background-clip: text;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.header__main--cart {
  width: 15rem;
  justify-content: space-around;
}
.header__main--cart--items {
  background-color: #e63946;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  color: white;
}
.header__img {
  width: 100%;
  transform: scale(100.2%);
  background: url("../assets/tablefood.jpeg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  height: 30rem;
}

.menu {
  height: auto;
  min-height: 95vh;
  align-items: center;
  background: #1d3557;
  padding: 20rem 0rem;
  margin-top: -30rem;
  width: 100%;
  gap: 5rem;
}
.menu > * {
  z-index: 99;
  border-radius: 15px;
  padding: 3rem;
  margin-bottom: 2rem;
}
.menu__about {
  height: auto;
  width: 50%;
  background: linear-gradient(to bottom right, #e63946, rgb(137, 38, 46));
  color: #fff;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.menu__about--title {
  margin-bottom: 2rem;
}
.menu__menu {
  height: auto;
  width: 75%;
  background-color: #fff;
  align-items: center;
}

.meal {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.meal:not(:last-child) {
  border-bottom: 1px solid rgb(228, 228, 228);
}
.meal__info {
  gap: 1rem;
}
.meal__info--description {
  color: rgb(50, 50, 50);
}
.meal__info--price {
  color: rgb(137, 38, 46);
}
.meal__add {
  gap: 1rem;
  align-items: flex-end;
}
.meal__add--amount {
  gap: 1rem;
  align-items: center;
}
.meal__add .btn--add--meal {
  background: #e63946;
  width: 10rem;
  color: #fff;
  justify-content: center;
}

.cart {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
}
.cart__cart {
  min-height: 50rem;
  height: auto;
  width: 50%;
  background-color: #fff;
  padding: 3rem;
  border-radius: 30px;
}
.cart__cart .cart__item {
  height: auto;
  padding: 1rem 0rem;
  width: 100%;
  margin-bottom: 2rem;
  gap: 1rem;
}
.cart__cart .cart__item:not(:last-child) {
  border-bottom: 1px solid #457b9d;
}
.cart__cart .cart__item--amounts {
  justify-content: space-between;
}
.cart__cart .cart__item--amounts > * {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.cart__cart .cart__item--amounts .price-quantity {
  gap: 5rem;
}
.cart__cart .cart--btn-change {
  width: 5rem;
  justify-content: center;
  font-size: 2.5rem;
  padding: 5px;
  background-color: #e63946;
  color: #fff;
}
.cart__cart .cart__total {
  gap: 2rem;
}
.cart__cart .cart__total .order--buttons {
  justify-content: flex-end;
  gap: 2rem;
}
.cart__cart .cart__total .order--buttons > * {
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
