.app__message {
  position: fixed;
  //position in middle top, translate off page to top
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 9999;
  height: auto;
  width: auto;
  padding: 5rem 10rem;
  border-radius: $border-smooth;
  box-shadow: $box-shadow;
  background: $color-grey--light;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  justify-self: center;
  animation: slideDownUp ease-in;

  &--msg{

  }
  &--emoji{
    font-size: 3rem;
  }

}

@keyframes slideDownUp {
  0% {
    transform: translate(-50%, -70%);
  }
  20% {
    transform: translate(-50%, 12%);
  }
  25% {
    transform: translate(-50%, 10%);
  }
  75% {
    transform: translate(-50%, 10%);
  }
  80% {
    transform: translate(-50%, 12%);
  }
  100% {
    transform: translate(-50%, -100%);
  }
}
