.meal {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  

  &:not(:last-child) {
    border-bottom: 1px solid $color-grey--light;
  }

  &__info {
    gap: 1rem;

    &--description {
      color: $font-grey;
    }

    &--price {
      color: $color-primary--dark;
    }
  }

  &__add {
    gap: 1rem;
    align-items: flex-end;

    &--amount {
      gap: 1rem;
      align-items: center;
    }

    .btn--add--meal {
      background: $color-primary;
      width: 10rem;
      color: $color-white;
      justify-content: center;
    }
  }
}
