.meal{

    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;

    &:not(:last-child){
        border-bottom: 1px solid $color-grey--light;

    }

    &__info{
        gap: 1rem;

        &--description{
            color: $font-grey;
        }

        &--price{
            color: $color-primary--dark;
        }
    }

    &__add{
        gap: 1rem;
        align-items: flex-end;

        &--amount{
            gap: 1rem;
            align-items: center;
            
            // .add--input{
            //     width: 4rem;
            //     border-radius: 5px;
            //     border: 1px solid #ccc;
            //     font: inherit;
            //     padding-left: 0.5rem;
            //     padding-top: .5rem;
            //     padding-bottom: .5rem;

            // }
        }

        .btn--add--meal{
            background: $color-primary;
            width: 10rem;
            color: $color-white;
            justify-content: center;
        }
    }
}

